:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* text colors */
    --main-txt-cl: #757575;
    --title-txt-cl: #212121;
    --accent-txt-cl: #2196F3;
    --btn-txt-cl: #ffffff;
    /* bg colors */
    --light-bg-cl: #f7f7f7;
    --dark-bg-cl: #191c26;
    /* others */
}

body {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
}


/* reset styles */

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
}


/* стилі для заголока */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--accent-txt-cl);
}

.accent {
    color: var(--dark-bg-cl);
}

.accent-ft {
    color: var(--light-bg-cl);
}

.header-link {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #000000;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-txt-cl);
}

.current-page {
    color: var(--accent-txt-cl)
}

.header-mail {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-txt-cl);
}

.header-phone {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);
}

.header-phone:hover,
.header-phone:focus {
    color: var(--accent-txt-cl);
}

.main {
    background-color: #2F3030;
    align-items: center;
    text-align: center;
}

.main-title {
    font-family: var(--secondary-font);
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    color: #ffffff;
}

.button-action {
    font-family: inherit;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--btn-txt-cl);
    background-color: var(--accent-txt-cl);
    cursor: pointer;
}

.button-filter {
    font-family: inherit;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--btn-txt-cl);
    background-color: #F5F4FA;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--accent-txt-cl);
    background-color: #FFFFFF;
}

.current-item {
    color: #FFFFFF;
    background-color: var(--accent-txt-cl);
}


/* main section */

.feature-title {
    font-size: 14px;
    line-height: calc(16 /14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-txt-cl);
}

.feature-txt {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.job-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-cl);
}

.portfolio-title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-cl);
}

.portfolio-txt {
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}

.team {
    background-color: #F5FAF4;
}

.team-hd {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-cl);
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-txt-cl);
}

.team-txt {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}


/* footer section */

.footer {
    background-color: #000000;
}

.footer-contact {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-address {
    color: #ffffff;
}

.portfolio-list {
    background-color: #F5FAF4;
}